.codejar-wrap {
  border: 1px solid #ededed;
  border-radius: 4px;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 400;
  width: 830px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
}
