@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Vidaloka&display=swap');

.pages-container{

    .ant-menu {
        position: fixed;
        width: 90%;
        border: none;
    }

}