// Style sheet for the pages container (nav bar and header)

.pages-container {
  .ant-menu {
    position: absolute;
    width: 50%;
    border: none;
    margin-left: 50px;
  }

  .ant-menu .ant-menu-item {
    text-transform: uppercase;
    text-align: center;
    width: auto;
    font-size: 12px;
    letter-spacing: 2px;
  }

  .ant-menu-submenu {
    text-transform: uppercase;
    text-align: center;
    width: auto;
    font-size: 12px;
    letter-spacing: 2px;
  }

  //1440x64px
  .ant-layout-header {
    background-image: url("https://imgur.com/8K9nCER.png");
    background-position: center;
  }
}
